/* 
font used: Roboto
dark background color (hero and footer)
#1F2937

hero main text ("This website is awesome")
48px #F9FAF8 Weigth: 900

hero secondary text, header link text
18px #E5E7EB

hero logo text
24 px #F9FAF8

button color, call to action background color
#3882F6

information header text
36px #1F2937 weight: 900

quote section background color
#E5E7EB

quote text
36px #1F2937 Weight: 300
*/

*{
    outline: 2px solid red;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    width: 100%;
    height: 100px;
}